/* * {
  border: 0.1px solid black;
} */
/* ===============
    global styles
  ================ */
html,
body,
.App {
  height: 100%;
  margin: 0;
  padding-bottom: 20px;
}

body {
  font-size: 18px;
  /* background-image: repeating-linear-gradient(
    225deg,
    #761a50 0%,
    #482d5f 50%,
    #1e5c87 100%
  ); */
  background-image: repeating-radial-gradient(
    circle at 0 0,
    #1f1624 0%,
    #0d0814 20%,
    #1b1a24 40%,
    #440e2d,
    75%,
    #1f1624
  );
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  color: #eef1fd;
  /* text-shadow: 0 -1px 0 #fff, 0 1px 0 #1a1a1a, 0 2px 0 #181818, 0 3px 0 #161616,
    0 4px 0 #141414, 0 5px 0 #121212; */
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  color: ivory;
  color: #e0dfdc;
  text-transform: capitalize;
  letter-spacing: normal;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #1a1a1a, 0 2px 0 #181818, 0 3px 0 #161616,
    0 4px 0 #141414, 0 5px 0 #121212;
}

/* =================
  typography styles
  ================== */

/*typography for <code> elements*/
code {
  text-shadow: none;
  font-size: 1em;
}

#appendixLinks {
  font-size: 0.8rem;
}

/* ===============
        layout
  ================ */

header {
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  justify-content: space-around;
  max-width: inherit;
  margin: 0;
  position: relative;
  bottom: 0px;
}

/* div {
  background-color: #761a50;
  background-image: linear-gradient(
    225deg,
    #761a50 0%,
    #482d5f 50%,
    #1e5c87 100%
  );
} */
/* div div {
  background: transparent;
} */

#home,
#docs {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  min-height: 100vh;
}

#home a:visited,
#docs a:visited {
  color: skyblue;
}
a {
  color: white;
}

#intro,
#blurb {
  margin: 0 0.5em 0 0.5em;
  max-width: 350px;
}

#intro {
  font-weight: 700;
  border-bottom: 1px solid #121212;
  color: #eef1fd; /*off-white color*/
}

#blurb {
  font-weight: 400;
  font-size: 1rem;
  color: #9ba1a6; /* gray color*/
  margin: 0.3em 1.3em 0 1.3em;
}

#basicUsage,
#gettingStarted,
#advancedUsage,
#inspiration {
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* margin: 1em;
    padding: 1em; */
  /* border: 2px black solid;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.23012955182072825) 0%,
    rgba(93, 93, 93, 1) 50%,
    rgba(0, 0, 0, 0.20211834733893552) 100%
  ); */
}

#basicUsage > h3,
#gettingStarted > h3,
#advancedUsage > h3,
#inspiration > h3,
#inspiration > h5 {
  margin: 0.5em;
}
#basicUsage > p,
#gettingStarted > p,
#advancedUsage > p,
#inspiration > p {
  margin: 1em;
}

#basicUsageFlexbox,
#gettingStartedFlexbox {
  /* display: flex;
  flex-direction: column;
  border: 1px black solid;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.23012955182072825) 0%,
    rgba(93, 93, 93, 1) 50%,
    rgba(0, 0, 0, 0.20211834733893552) 100%
  ); */
  width: fit-content;
}

#basicUsageFlexbox h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  /* margin: 10px; */
}
#gettingStartedFlexbox h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  /* margin: 10px; */
}

/* ===============
      components
  ================ */

/* buttons */
#getStartedButton {
  margin: 1em;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: white !important;
}

#getStartedButton {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 1px solid #121212;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

#getStartedButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#homeButton,
#menuButton {
  box-shadow: 0 0 4px #eee;
}
